.new-remedy-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-remedy-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-remedy-container .content section {
  width: 100%;
  max-width: 380px;
}

.new-remedy-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.new-remedy-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.new-remedy-container .content form {
  width: 100%;
  max-width: 450px;
}

.new-remedy-container .content form input {
  margin-top: 8px;
}

.new-remedy-container .content form .input-group {
  display: flex;
  align-items: center;
  
}

.new-remedy-container .content form .input-group input+input {
  margin-left: 8px;
}

.new-remedy-container .content form .input-group  .custom-select {
  background: #fff;
  border-radius: 8px;
  width: 25%;
  height: 60px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 8px;
  color: #737380;
  padding: 0.5em 0.5em;
  
}

/* .new-remedy-container .custom-select .select-selected {
  background-color: #8dbeda;
  cursor: pointer;
}

.new-remedy-container .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
} */

